# Ignorar pastas __pycache__ em qualquer lugar
**/__pycache__/

output/**
!output/.gitkeep

verification/**
!verification/.gitkeep

*.egg-info

# Ignorar arquivos compilados Python
*.pyc
*.pyo
*.pyd
*.ini